@import './dropdown.css';
@import './panels.css';
@import './position.css';
@import './rtl.css';

.tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  display: flex;
}

.tabs-top > .tabs-nav,
.tabs-bottom > .tabs-nav,
.tabs-top > div > .tabs-nav,
.tabs-bottom > div > .tabs-nav {
  margin: 0 0 16px 0;
}

.tabs-bottom > .tabs-nav,
.tabs-bottom > div > .tabs-nav {
  margin-top: 16px;
  margin-bottom: 0;
}

.tabs-bottom > .tabs-nav::before,
.tabs-bottom > div > .tabs-nav::before {
  top: 0;
}

.tabs > .tabs-nav {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
}

.tabs-nav-list {
  display: flex;
  position: relative;
  transition: transform 0.3s;
}

.tabs-nav-operations {
  display: flex;
}

.tabs-nav-operations-hidden {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.tabs-nav-more {
  border: 1px solid blue;
  background: rgba(255, 0, 0, 0.1);
}

.tabs-nav-add {
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.1);
}

.tabs .tabs-tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px 0;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.tabs .tabs-tab:hover {
  color: #4096ff
}

.tabs-large > .tabs-nav .tabs-tab {
  padding: 16px 0;
  font-size: 16px;
}

.tabs-small > .tabs-nav .tabs-tab {
  padding: 8px 0;
  font-size: 14px;
}

.tabs-left > .tabs-nav .tabs-tab,
.tabs-right > .tabs-nav .tabs-tab,
.tabs-left > div > .tabs-nav .tabs-tab,
.tabs-right > div > .tabs-nav .tabs-tab {
  padding: 8px 24px;
  text-align: center;
}

.tabs-left > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-right > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-left > div > .tabs-nav .tabs-tab + .tabs-tab,
.tabs-right > div > .tabs-nav .tabs-tab + .tabs-tab {
  margin: 16px 0 0 0;
}

.tabs .tabs-tab.tabs-tab-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.tabs .tabs-tab + .tabs-tab {
  margin: 0 0 0 32px;
}

.tabs > .tabs-nav .tabs-nav-wrap,
.tabs > div > .tabs-nav .tabs-nav-wrap {
  position: relative;
  display: flex;
  flex: auto;
  align-self: stretch;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(0);
}

.tabs-centered > .tabs-nav .tabs-nav-wrap:not([class*='.tabs-nav-wrap-ping']),
.tabs-centered > div > .tabs-nav .tabs-nav-wrap:not([class*='.tabs-nav-wrap-ping']) {
  justify-content: center;
}

.tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
}

.tabs .tabs-tab-btn:focus:not(:focus-visible),
.tabs .tabs-tab-remove:focus:not(:focus-visible),
.tabs .tabs-tab-btn:active,
.tabs .tabs-tab-remove:active {
  color: #0958d9;
}

.tabs .tabs-tab-btn:focus-visible,
.tabs .tabs-tab-remove:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}

.tabs-tab-remove:hover {
  color: red;
}

.tabs-tab-active {
  color: #1677ff;
  text-shadow: 0 0 0.25px currentcolor;
}

.tabs-ink-bar {
  position: absolute;
  background: #1677ff;
  pointer-events: none;
}


.tabs-extra-content {
  flex: none;
}
