.tabs-rtl {
  direction: rtl;
}

.tabs-rtl:not(.tabs-card) .tabs-nav .tabs-tab + .tabs-tab {
  margin: 0 32px 0 0;
}

.tabs-rtl.tabs-right > .tabs-nav,
.tabs-rtl.tabs-left > .tabs-content-holder {
  order: 0;
}

.tabs-rtl.tabs-left > .tabs-nav,
.tabs-rtl.tabs-right > .tabs-content-holder {
  order: 1;
}

.tabs-rtl .tabs-nav .tabs-tab .tabs-tab-remove {
  margin-right: 8px;
  margin-left: -4px;
}

.tabs-dropdown-rtl {
  direction: rtl;
}